*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f5f5f5;
}

/* Navbar Styling */
nav{
    background:  #232f3e;
    color:#fff;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width:1200px;
    margin: 0 auto;
    padding: 18px;
}
.search-container input, button{
    padding: 5px 10px;
    border: none;
    font-size:16px;

}
.search-container input{
    border-radius: 4px 0 0 4px;
}
.search-container button{
    border-radius: 0 4px 4px 0;
    background: #f5c518;
    cursor:pointer;
    transition : all 0.2s;
}
.search-container button:hover{
    background: #ffdd45;
}

/* Main movie section styling */
main{
    max-width:1200px;
    margin : 0 auto;
    margin-block: 38px;
}

main section{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:67vh;
}

/* Footer Styling  */
footer{
    text-align:center;
    background: #232f3e;
    color:white;
    padding-block: 20px;
    margin-top:40px;
    font-size: 20px;


}